------

import Layout from '../layouts/Layout.astro';import BaseLayout from '../layouts/BaseLayout.astro';

------



<Layout title="about"><BaseLayout title="About">

  <div class="flex flex-col items-center justify-center min-h-screen">  <div class="flex items-center justify-center min-h-screen">

    <h1 class="text-5xl">about</h1>    <h1>About Page</h1>

  </div>  </div>

</Layout></BaseLayout>
