------

import Layout from '../layouts/Layout.astro';import BaseLayout from '../layouts/BaseLayout.astro';

------



<Layout title="projects"><BaseLayout title="Projects">

  <div class="flex flex-col items-center justify-center min-h-screen">  <div class="flex items-center justify-center min-h-screen">

    <h1 class="text-5xl">projects</h1>    <h1>Projects Page</h1>

  </div>  </div>

</Layout></BaseLayout>
