---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style is:global>
      @import '../styles/global.css';
    </style>
  </head>
  <body class="bg-white min-h-screen flex flex-col items-center font-aspira">
    <main class="flex-grow w-full">
      <slot />
    </main>
    <footer class="w-full text-center py-6 text-sm text-gray-500">
      copyright 2025 vadim hemzellec-davidson
    </footer>
  </body>
</html>
